.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
    }
    .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
    .brand {
    display: flex;
    align-items: center;
    }
    li>a {
    padding: 8px 24px;
    }
    li {
    list-style-type: none;
    }
    a {
    color: white;
    text-decoration:none;
    }
    .nav-links {
    display: flex;
    align-items: center;
    }
    .button-menu-toggle {
    display: none;
    }
